<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TarkovMapTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TarkovMapTool.Properties.Settings>
            <setting name="MapWindowX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MapWindowY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MapWindowWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="MapWindowHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ScreenshotPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomInHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomOutHotkey" serializeAs="String">
                <value />
            </setting>
        </TarkovMapTool.Properties.Settings>
    </userSettings>
</configuration>